.home-inner {
  height: 100vh;
  @include display-flex();
  @include align-items(center);
  padding-top: 113px;
  &.home--bg {
    position: relative;
    background: url(../images/bbva.png);
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(#3d3e3f, 0.85);
      mix-blend-mode: multiply;
    }
  }
  .container {
    text-align: center;
    max-width: 860px;
    position: relative;
  }
  h2 {
    font-family: 'BentonBold';
    font-size: 60px;
    line-height: 70px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  h3 {
    font-family: 'BentonBold';
    font-size: 60px;
    line-height: 70px;
    color: $bbvablue;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  h4 {
    font-family: 'BentonBook';
    font-size: 32px;
    line-height: 38px;
    color: $white;
    margin-bottom: 60px;
  }
  .home-link a {
    display: block;
  }
}
.home-header {
  .subnavigation {
    display: none;
  }
  .header {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
  }
  .header-title {
    display: none;
  }
}


span.highlight {
  background-color: #ffec86;
  color: #444;
  padding: 2px;
}

.content {
  padding-right: 180px;
  @media (max-width: $mobile) {
    padding-right: 0;
  }

  a {
    color: $bbvablue;
  }

  .content-info {
    margin-bottom: 35px;
    margin-right: -180px;
    @media (max-width: $mobile) {
      margin-right: 0;
    }
  }

  > p {
    color: $txtgrey;
    font-family: 'BentonBook';
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 32px;
  }

  > h1 {
    font-family: 'BentonBold';
    font-size: 33px;
    line-height: 45px;
    margin-bottom: 22px;
  }

  > h2 {
    font-family: 'BentonMedium';
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 32px;
    padding-top: 100px;
  }

  > h3 {
    font-family: 'BentonBook';
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  > h4 {
    font-family: 'BentonBook';
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  > h5 {
    font-family: 'BentonBook';
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  > h6 {
    font-family: 'BentonBook';
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 18px;
  }

  > ul {
    color: $txtgrey;
    font-size: 15px;
    line-height: 26px;
    list-style-type: disc;
    margin-bottom: 32px;
    margin-left: 22px;
    &.decoration {
      margin-left: 0;
      list-style-type: none;
      li {
        padding-left: 22px;
        background: url(../images/decoration.svg);
        background-position: 0 5px;
        background-repeat: no-repeat;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    ul {
      list-style-type: disc;
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: 22px;
      li {
        margin-bottom: 4px;
      }
    }
  }

  > ol {
    color: $txtgrey;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 32px;
    margin-left: 22px;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      border-right: 0;
      border-left: 0;
    }
    + h3,
    + h2 {
      padding-top: 80px;
    }
  }
  tbody {
    border: 2px solid $tableborder;
    border-top: 0;
  }


  td {
    border-left: 2px solid $tableborder;
    color: $txtgrey;
    font-family: 'BentonBook';
    font-size: 15px;
    line-height: 26px;
    padding: 15px 20px;
    vertical-align: top;
    @media (max-width: $mobile) {
      padding: 10px;
    }

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      text-align: center;
    }
  }

  th {
    border-left: 2px solid $tableborder;
    color: $white;
    font-family: 'BentonMedium';
    font-size: 15px;
    line-height: 26px;
    padding: 25px 20px;
    text-align: center;
    background: $green;
    &.hover {

    }
    @media (max-width: $mobile) {
      padding: 10px;
    }
    &:first-child {
      border-left: 0;
      text-align: left;
    }
  }

  th[colspan]{
   border-bottom: 2px solid #fff;
  }

  .hover {
    @include transition(background, 300ms);
    background: rgba($green, 0.10);
    color: $dark;
  }


}

.content-info {
  @include display-flex;
  @include align-items(flex-start);
  @include justify-content(space-between);
  @media (max-width: $mobile) {
    display: block;
  }
  + h2 {
    padding-top: 0;
  }
}

.content-dropdown {
  @include display-flex;
  @include align-items(flex-start);
  @include flex(0 0 70%);
  background: $lightgrey;
  height: 70px;
  max-width: 70%;
  overflow: hidden;
  padding: 22px;
  @media (max-width: $mobile) {
    @include flex(0 0 100%);
    max-width: 100%;
  }

  &.is-open {
    height: auto;

    .content-dropdownitem {
      white-space: initial;
    }
  }
}

.content-dropdownlist {
  @include flex(1);
  margin-right: 44px;
  overflow: hidden;
}

.content-dropdownitem {
  @include text-overflow;
  font-family: 'BentonBook';
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 32px;

  a {
    color: $dark;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.content-download {
  font-family: 'BentonMedium';
  font-size: 18px;
  margin-top: 20px;

  a {
    color: $bbvablue;
  }
}

.content-dropdownlink {
  cursor: pointer;
  margin-top: 6px;

  .is-open & {
    transform: rotate(180deg);
  }
}

.content-downloadlink {
  @include display-flex;
  @include align-items(center);
  svg {
    margin-left: 12px;
  }
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination>li {
  display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.mod-download {
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  padding: 24px;
  background: $lightgrey;
  margin-right: 380px;
}

.mod-downloadText {
  @include display-flex();
  @include align-items(center);
  font-family: 'BentonLight';
  font-size: 21px;
  h3 {
    margin-left: 8px;
  }
}

.mod-downloadButton {
  -webkit-appearance: none;
  appearance: none;
  background: $green;
  color: $white;
  font-family: 'BentonBold';
  font-size: 18px;
  line-height: 60px;
  padding: 0 30px;
  border: 0;
  cursor: pointer;
}

.content-up {
  @include display-flex;
  @include align-items(center);
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: $bbvablue;
  font-family: 'BentonBook';
  font-size: 15px;
  line-height: 26px;
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;
  visibility: hidden;

  &.is-show {
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    text-decoration: underline;
  }
  svg {
    margin-right: 8px;
  }
}

