$bbvablue: #0089cf;
$electricblue: #00beff;
$darkblue: #001d46;
$lightblue: #004284;
$white: #fff;
$txtgrey: #666;
$lightgrey: #f4f4f4;
$dark: #000;
$tableborder: #eaeaea;
$green: #1BA3A4;


/* sizes */
$mobile: 750px;


